@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  
  .input.inputSearch:focus {
    outline: none;
  }

  .threeLinePhrase {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* line-height: 16px;      fallback 
    max-height: 32px;      fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .hiddenMiddleTexto {
    overflow: hidden; /* remove o estouro do elemento */
    max-height: 76px;
    @media (max-width: 768px) {
      max-height: 90px;
    }
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
  
  section, ul {
    scrollbar-color: gray transparent;   /* scroll thumb and track */
  }
  
  section::-webkit-scrollbar, ul::-webkit-scrollbar {
    height: 5px;               /* width of the entire scrollbar */
  }

  section::-webkit-scrollbar-track, ul::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }

  section::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */
  }

}

body section::-webkit-scrollbar {
  width: 12px;
  height: 3px;               /* width of the entire scrollbar */
}

body section::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body section::-webkit-scrollbar-thumb {
  background-color: gray;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}